body {
  background-color: aliceblue;
}

.App {
  text-align: center;
}

.App__title {
  font-size: 36px;
}

.App__title--underline {
  font-size: 36px;
  text-decoration: underline;
}
.App__answer {
  width: 320px;
  height: 64px;
  font-size: 24px;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  background-color: lightgray;
}

.App__description {
  padding: 12px;
  font-size: 24px;
}

.App__banner {
  background-color: red;
  color: white;
  padding: 12px;
  display: block;
  text-decoration: none;
}

.App__back {
  margin-top: 10px;
}